@mixin Button() {
    width: 120px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 8px;
    text-align: center;
    font-family:"Work Sans",sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #FBFBFB

}

.red {
    @include Button();
    border: 1px solid #E4033B;
    color: #E4033B;

}

.green {
    @include Button();
    border: 1px solid #39CDCC;
    color: #39CDCC;

}

@media  (min-width: 200px) {

    @mixin Button() {
        width: 120px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 8px;
        text-align: center;
        font-family:"Work Sans",sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        cursor: pointer;
        background-color: #FBFBFB
    
    }
    
    .red {
        @include Button();
        border: 1px solid #E4033B;
        color: #E4033B;
    
    }
    
    .green {
        @include Button();
        border: 1px solid #39CDCC;
        color: #39CDCC;
    
    }
    
}