.parent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x:hidden;

}

.header{
    display: flex;
    justify-content: start;
    align-items: flex-end;
    width: calc(100% - 160px);
    padding: 20px 0px;

}



.main__content {
    font-family: "Work Sans", sans-serif;
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 50px;
    padding: 40px auto;

    
}

.main__content header h2 {
    color: #213F7D;
    font-family:"Work Sans",sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    max-width: 1037px;
   
   
}

.main__content_table{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.infocard__container{
    width: calc(100vw - 240px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    gap: 20px;

}


@media  (min-width:1200px) and (max-width:1500px){


.infocard__container{

    
    gap: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}

.main__content_table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 160px);
    padding: 20px 0px;
    text-align: centers;

}

}

@media screen and (min-width:1500px){

    .infocard__container{
        width: 100%;
        display: flex;
        flex-direction: row;
        grid-template-columns: auto auto;
        gap: 20px;
        
      
    
    }

    .main__content {
        font-family: "Work Sans", sans-serif;
        
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
        
        
        // width: 100%;
       
        
        
    }


}
@media (min-width:200px) and (max-width:500px){

    .infocard__container{
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-template-columns: auto auto;
        gap: 20px;
        
      
    
    }

    .main__content {
        font-family: "Work Sans", sans-serif;
        
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 70px;
        
        // width: 100%;
       
        
        
    }


}