.pagination__container {
    display: flex;
    justify-content: space-between;
    color: #545F7D;
}

.pagination__select_div {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #545F7D;
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pagination__select_div select {
    width: 80px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 4px;
    padding: 1px 2px;
    background-color: rgba(33, 63, 125, 0.1);
    color: rgba(33, 63, 125, 1);
    background-image: url(../../../assets/global/drop_down_unshaded.svg);
    background-repeat: no-repeat;
    background-position: right 10px center; 
    padding:0px 10px; 
    appearance: none;
    font-weight: 500;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.pagination__buttons span{
    display: flex;
    align-items: center;
    gap: 10px;
}

.pagination__buttons span button{

    height: 30px;
    border: none;
    flex-shrink: 0;
    border-radius: 4px;
    padding: 1px 2px;
    background-color: rgba(33, 63, 125, 0.1);
    color: rgba(33, 63, 125, 1);
    padding:0px 5px; 
    font-weight: 500;


}