.main__container {
    position: absolute;
    z-index: 10;
    width: 100px;
    gap: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    left: -10%;
    bottom:-30%;
    background-color: white;
    width: 180px;
    height: 130px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(84, 95, 125, 0.04);
    box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
    color: rgba(84, 95, 125, 1);
}




.main__container  li span{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    
}

.link{
    text-decoration: none;
    color: rgba(84, 95, 125, 1);
}