@import "./variables.scss";

@mixin FlexRow() {
    display: flex;
    align-items: center;


}

.main__div {
    font-family: "Work Sans", sans-serif;
    width: 100vw;
    // justify-content: space-between;
    @include FlexRow();
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.04);
    padding: 15px 40px;
    height: 10vh;
    position: fixed;
    z-index: 10000;
    background-color: white;
    justify-content: space-between;
    gap: 30px;

}

.left {
    @include FlexRow();
    gap: 40px;
}


.left span .logo {

    width: 100px;
    cursor:pointer



}

.left .toggle{
    @include FlexRow();
    color:#213F7D;
    display: block;
}

.left .toggle__parent {
    @include FlexRow();
    justify-content: center;
    gap:10px;
}


.search__form input {
    width: 300px;
    height: 40px;
    border-right: none;
    outline: none;
    border: 1px solid $border;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 2px 10px;
    color: $inputPlaceholder;
    
}


.search__form button {
    height: 40px;
    width: 50px;
    border-left: none;
    border: none;
    background-color: $green;
    color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 1px;
    position: relative;
    top: 0.5px;
    cursor: pointer;
   
}

.search__form{
    display: none
}

.right {
    @include FlexRow();
    gap: 10px;

    color: $profileText;

    cursor: pointer;


    & span img{
        width: 20px;
    }




    & p {
        text-decoration: underline !important;
        color:$profileText;

    }

    & .profile__div {

        @include FlexRow();
        gap: 10px;

        & img{
            width: 30px;
        }

        & select {
            border: none;
        }

    }

}

.profile__div select {

    background-image: url(../../assets/global/drop_down_shaded.svg);
    background-repeat: no-repeat;
    appearance: none;
    width: 100px;
    background-position: left 10px;
}



@media (min-width:1500px) {

    .left .toggle{
        @include FlexRow();
        color:#213F7D;
        display: none;
    }
    


    .search__form{
        display: flex;
    }

    .left span .logo{
        width: 144.804px;
        height: 30px;

    }

    @mixin FlexRow() {
        display: flex;
        align-items: center;


    }

    .main__div {
        font-family: "Work Sans", sans-serif;
        width: 100vw;
        justify-content: space-between;
        @include FlexRow();
        box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.04);
        padding: 15px 40px;
        height: 10vh;
        position: fixed;
        z-index: 10000;
        background-color: white
    }

    .left {
        @include FlexRow();
        gap: 200px;
    }



    .search__form input {
        width: 300px;
        height: 40px;
        border-right: none;
        outline: none;
        border: 1px solid $border;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        padding: 2px 10px;
        color: $inputPlaceholder;
    }


    .search__form button {
        height: 40px;
        width: 50px;
        border-left: none;
        border: none;
        background-color: $green;
        color: white;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 1px;
        position: relative;
        top: 0.5px;
        cursor: pointer;
    }

    .right {
        @include FlexRow();
        gap: 40px;

        color: $profileText;

        cursor: pointer;




        & p {
            text-decoration: underline !important;
            // color:$profileText;

        }

        & .profile__div {

            @include FlexRow();
            gap: 20px;

            & img{
                width: 50px;
            }
    

            & select {
                border: none;
            }

        }

    }

    .profile__div select {

        background-image: url(../../assets/global/drop_down_shaded.svg);
        background-repeat: no-repeat;
        appearance: none;
        width: 70px;
        background-position: right 0px;
    }

}