

@import "./variables.scss";
@mixin FlexRow(){
    display: flex;
    align-items: center;
    
    
}

.shared{
    display: flex;
    align-items: flex-start;
    width: 100vw;

    position: relative;
    top: 10vh;

    overflow-x: auto;

    
}

.main__content{
    background-color: red;
    display: flex;
    flex-direction: column;
    width: 283px !important;
    padding: 40px;
    position: fixed;
    overflow-y: auto;
    top: 10vh;
    bottom: 0;
    font-family: "Work Sans", sans-serif;

     background-color: white;
  display: flex;
    flex-direction: column;
  gap: 30px;
       padding: 20px 0px; 
    box-shadow:  0px 5px 20px 0px rgba(0, 0, 0, 0.04); 
}



.main__content section ul a.active__link li{

    background-color: rgba(57, 205, 204, 0.06);
    border-left: 3px solid  rgba(57, 205, 204, 1);
    
     }



.outlet{
    position: relative;
    left: 283px;
    width: calc(100vw - 283px);
    background-color:  #FBFBFB;
}


@media screen and (max-width:1500px){

    .main__content{
        display: none;
    }

    .outlet{
        left: 0;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FBFBFB;
    }


.shared{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: #FBFBFB;
    position: relative;
    top: 10vh;


    
}


    
}








.main__content select{
    background-color: none;
    border:none;
    color: #213F7D;
    font-size: 16px;
    background-image: url(../../assets/global/drop_down_unshaded.svg);
    background-repeat: no-repeat;
    background-position: right 10px center; 
    padding-right: 30px; 
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}


.main__content section p, .main__content span{

    padding-left: 20px;
    

}

section h5 {


        font-size: 12px;
        text-transform: uppercase;
        font-weight: 500;
        color: #213F7D;
        padding-left: 20px;
    
    
}

.main__content span{
    color: #213F7D;
    @include FlexRow();
    gap: 30px;
}



.main__content section ul li{
    width: 100%;
    margin: 30px 0px;
    padding-left: 20px;
    color: #545F7D;
    font-size: 16px;
    padding: 5px 0px 5px 20px;
    @include FlexRow();

 
}




.active li{

    border-left: 3px solid !important;
    background-color:rgba(57, 205, 204, 0.06) !important;
    
    

    
}

.main__content li p{
    font-size: 16px;
    color: #545F7D;
}




