*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none !important;
}

html{
    background-color: #fbfbfb;
}

a:visited, a:visited p, a:focus{
    text-decoration: none !important;
    color:none;
}

